test_data.tar.gz
test_data/*
result_data/*
result_data.tar.gz
output/*
__pycache__
.vscode/*
config.json
.f*
.Rhistory
test/*
*.vscode*
*.ipynb_checkpoints*
*.spyproject*
!test/run_all_metric_combinations.py
!test/test_mic.py
!test/LNCRNA2GOA_MF.tsv
!test/LNCRNA2GOA_BP.tsv
