#Module: config.py
#Move this file to <project_dir>/config.py and customize it
import multiprocessing

configs = {
    "coordinates_ftp": "ftp://ftp.ebi.ac.uk/pub/databases/RNAcentral/current_release/genome_coordinates/gff3/",
    "threads": str(max(2, multiprocessing.cpu_count()-1)),
    "max_mem": "4000",
    "go_obo": "go.obo",
    "cmscan": "cmscan",
    "long_orfs": "TransDecoder.LongOrfs",
    "plast": "plast",
    "blastn": "blastn",
    #"quast" : "quast.py",
    #"non_redundant": "<___>",
    #"rfam_cm": "<___>",
    #"rfam_families": "<___>",
    #"rfam2go": "<___>",
    #"rfam_fastas": "<___>"
    #"rna_central": "<___>",
    #"diamond": "diamond",
    #"lgc": "<___>"
}
