#Module: config.py
#Rename this file as "config.py" and customize it
import multiprocessing

configs = {
    "max_mem": "4000",
    "long_orfs": "TransDecoder.LongOrfs",
    "tRNAscan-SE": "tRNAscan-SE",
    "gffcompare": "gffcompare",
    "rfam2go_url": "ftp://ftp.ebi.ac.uk/pub/databases/Rfam/CURRENT/rfam2go/rfam2go",
    "rfam2go": project_dir + "/data/rfam2go",
    "intervals_file": project_dir + "/data/confidence_intervals.csv",
    "rnasamba_model": project_dir + "/data/full_length_weights.hdf5",
    "metrics_table": project_dir + "/data/metrics_table.tsv",
    "rnasamba": "rnasamba",
    "quickgo_api": "https://www.ebi.ac.uk/QuickGO/services/annotation/downloadSearch",
    "coordinates_ftp": "ftp://ftp.ebi.ac.uk/pub/databases/RNAcentral/current_release/genome_coordinates/gff3/",
    "threads": str(max(2, multiprocessing.cpu_count()-1)),
    "cmscan": "cmscan",
    "minimap2": "minimap2",
    "diamond": "diamond"
    #"quast" : "quast.py",
    #"non_redundant": "<___>",
    #"go_obo": "<___>",
    #"rfam_cm": "<___>",
    #"rfam_families": "<___>",
    #"rfam2go": "<___>",
    #"rfam_fastas": "<___>",
    #"rna_central": "<___>"
}
